h1,h4{
text-align: center;

}
body{
background-color: indigo;
background-image:url(https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80) ;
width: 100%;
  height: 100vh;
  margin: 0;
  color:#ffffff;

}
form{
width: 40vw;
margin: 0 auto;
background-color: rgba(36, 13, 87, 0.9);
color: #ffffff;
border-radius: 20px;

}
input,select,textarea{
width: 100%;
margin: 0 auto;

}
label,p{
margin:0 auto;
display: block;
margin-top: 5px;

}
fieldset{
    border: 0;
margin-top: 10px;
margin-bottom: 10px;

}
input[type="checkbox"]{
width:5% ;


}

input[type="radio"]{
    width:5% ;
    
    
    }
    input[type="text"],select,input[type="email"],input[type="number"]{
margin-left:0 auto;
margin-right:0 auto;
margin-bottom: 30px;



    }
    
    .inline{
vertical-align: middle;

    }
    textarea{
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
        height: 60px;
        border-radius: 7px;
    }
    input[type="submit"]{
background-color: rgb(19, 141, 19);
color: #ffffff;
margin-bottom: 20px;
height: 40px;
    }


h4{
    font-family: cursive;
}
label,p,input,select{
font-size: 20px;
border-radius: 7px;


}
#name-label{
margin-top: 50px;


}